body{
    background-color: antiquewhite;
}

header{
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

#tabela-contatos{
  font-size: 20px;
  margin-top: 40px;
}

button {
    width: 100px;
    height: 30px;
    background-color: #0099ff;
    color: white;
    margin-left: 0,5em;
  }

  input {
    width: 200px;
    height: 25px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: block;
    
  }

  button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
